@model MovieSelling.Models.BookingModel
@{
    ViewBag.Title = "Step 1";
}
@Scripts.Render("~/bundles/jquery")

@Html.Partial("_subMenuPartial")
<script type="text/javascript">
    function getListDate() {
        var filmID = $('#listFilm').val();
        var query = '/Booking/Step1?FilmID=' + filmID;
        window.location.assign(query);
    }

    function getListTime() {
        var filmID = $('#listFilm').val();
        var date = $('#listDate').val();
        var query = '/Booking/Step1?FilmID=' + filmID + '&dateSche=' + date;
        window.location.assign(query);
    }
</script>
<div style="height: 10px">
</div>
    <div id="main">
        <div class="box">
            <div class="head">
            </div>
            <div class="step1">
                <table width="250">
                    <tr>
                        <th height="30">Chọn phim</th>
                    </tr>
                    <tr>
                        <td> @Html.ListBoxFor(m => m.filmSelected, Model.listFilm, new { Class = "Step1ListFilm", Name = "listFilm", Id = "listFilm", onclick = "getListDate()" })</td>
                    </tr>
                </table>
            </div>
            <div class="step1">
                <table width="250">
                    <tr>
                        <th height="30">Chọn ngày chiếu</th>
                    </tr>
                    <tr>
                        <td height="250"> @Html.ListBoxFor(m => m.dateSelected, Model.listDate, new { Class = "Step1ListFilm", ID = "listDate", onclick = "getListTime()" })</td>
                    </tr>
                </table>
            </div>
            @using (Html.BeginForm("Step2", "Booking", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="step1" >
                    <table width="250">
                        <tr>
                            <th height="30"> Chọn suất chiếu</th>
                        </tr>
                        <tr>
                            <td height="250"> @Html.ListBoxFor(m => m.ScheID, Model.listTime, new { Class = "Step1List" })</td>
                        </tr>
                        <tr>
                            <td height="30"> Chọn số lượng ghế @Html.DropDownListFor(m => m.seatSelected, MovieSelling.DatabaseHelper.numberOfSeats)</td>
                        </tr>
                    </table>
                    @Html.HiddenFor(m => m.filmSelected)
                    @Html.HiddenFor(m => m.dateSelected)
                    <input type="submit" value="Tiếp tục" />
                </div>
            }
            <div class="cl">&nbsp;</div>
        </div>
    </div>

