<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/myquery")
</head>


<body>
    <!-- Shell -->
    <div id="shell">
        <!-- Header -->
        <div id="header">
            <h1 id="logo"><a href="#">BnP</a></h1>
            <div class="social">
                <span>THEO DÕI CHÚNG TÔI TRÊN:</span>
                <ul>
                    <li><a class="twitter" href="#">twitter</a></li>
                    <li><a class="facebook" href="#">facebook</a></li>
                    <li><a class="vimeo" href="#">vimeo</a></li>
                    <li><a class="rss" href="#">rss</a></li>
                </ul>
            </div>

            <!-- Navigation -->
            <div id="navigation">
                <ul>
                    <li><a class="@MovieSelling.DatabaseHelper.Home"      href=@Url.Action("index", "film")>TRANG CHỦ</a></li>
                    <li><a class="@MovieSelling.DatabaseHelper.New"       href ="#">TIN TỨC</a></li>
                    <li><a class="@MovieSelling.DatabaseHelper.Booking"   href=@Url.Action("step1", "booking")>ĐẶT VÉ</a></li>
                    <li><a class="@MovieSelling.DatabaseHelper.Ticket"     href="#">GIÁ VÉ</a></li>
                    <li><a class="@MovieSelling.DatabaseHelper.Contact"   href="#">LIÊN HỆ</a></li>
                </ul>
            </div>
            <!-- end Navigation -->
        </div>
        <!-- end Header -->
        @RenderSection("featured", required: false)
        @RenderBody()
        <!-- NEWS -->
        <div id="news">
            <div class="head">
                <h3>NEWS</h3>
                <p class="text-right"><a href="#">See all</a></p>
            </div>

            <div class="content">
                <p class="date">12.04.09</p>
                <h4>Disney's A Christmas Carol</h4>
                <p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
                <a href="#">Read more</a>
            </div>
            <div class="content">
                <p class="date">11.04.09</p>
                <h4>Where the Wild Things Are</h4>
                <p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;...</p>
                <a href="#">Read more</a>
            </div>
            <div class="content">
                <p class="date">10.04.09</p>
                <h4>The Box</h4>
                <p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences.</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!-- end NEWS -->
        <!-- Coming -->
        <div id="coming">
            <div class="head">
                <h3>COMING SOON<strong>!</strong></h3>
                <p class="text-right"><a href="#">See all</a></p>
            </div>
            <div class="content">
                <h4>The Princess and the Frog </h4>
                <a href="#"><img src="css/images/coming-soon1.jpg" alt="coming soon" /></a>
                <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
                <a href="#">Read more</a>
            </div>
            <div class="cl">&nbsp;</div>
            <div class="content">
                <h4>The Princess and the Frog </h4>
                <a href="#"><img src="css/images/coming-soon2.jpg" alt="coming soon" /></a>
                <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
                <a href="#">Read more</a>
            </div>

        </div>
        <!-- end Coming -->
        <div class="cl">&nbsp;</div>

        <!-- Footer -->
        <div id="footer">
            <p>
                <a href="#">HOME</a> <span>|</span>
                <a href="#">NEWS</a> <span>|</span>
                <a href="#">IN THEATERS</a> <span>|</span>
                <a href="#">COMING SOON </a> <span>|</span>
                <a href="#">LATERS TRAILERS</a> <span>|</span>
                <a href="#">TOP RATED TRAILERS</a> <span>|</span>
                <a href="#">MOST COMMENTED TRAILERS</a> <span>|</span>
                <a href="#">ADVERTISE</a> <span>|</span>
                <a href="#">CONTACT </a>
            </p>
            <p> &copy; 2015 BnP, LLC. All Rights Reserved.  Designed by <a href="" target="_blank" title="">Super B Bung</a></p>
        </div>
        <!-- end Footer -->
    </div>
    <!-- end Shell -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
