@model IEnumerable<MovieSelling.Models.FilmView>
@{
    ViewBag.Title = "Home";
}
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/bundles/myquery")
<script type="text/javascript" src="~/Scripts/jquery-func.js"></script>
<!-- Main -->
<div id="main">
    <!-- Box -->
    <div class="box">
        @foreach (var item in Model)
        {
            <!-- Movie -->
            <div class="movie">

                <div class="movie-image">

                    <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                </div>

                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in">

                        </div>
                    </div>
                    <span class="comments">12</span>
                </div>
            </div>
        <!-- end Movie -->
        }

        <div class="cl">&nbsp;</div>
    </div>
    <!-- end Box -->

</div>
<!-- end Main -->
