@model Manage.Models.ViewUser

@{
    ViewBag.Title = "Edit User";
}

<ul id="menu">
    <li>@Html.ActionLink("Add User ", "Add")</li>
    <li>@Html.ActionLink("List User ", "List")</li>
</ul>

<section id="loginForm">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Add", "ManageUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Add new User</legend>
            <ol>
                <li>
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.picture)" width="202" height="254" />
                </li>
                <li>
                    <input type="file" name="file" id="file" />
                </li>
                <li>
                    @Html.LabelFor(m => m.username)
                    @Html.TextBoxFor(m => m.username)
                    @Html.ValidationMessageFor(m => m.username)
                </li>
                <li>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.DateOfBirth)
                    @Html.EditorFor(m => m.DateOfBirth)
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </li>
                <li>
                    @Html.LabelFor(m => m.address)
                    @Html.TextBoxFor(m => m.address)
                </li>
                <li>
                    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
             {
                 Text = "Administrator",
                 Value = "1"
             });
        listItems.Add(new SelectListItem
             {
                 Text = "Manager",
                 Value = "2",
                 Selected = true
             });
        listItems.Add(new SelectListItem
             {
                 Text = "Staff",
                 Value = "3"
             });
                    }
                    @Html.LabelFor(m => m.RoleName)
                    @Html.DropDownListFor(m => m.RoleName, listItems)
                </li>

            </ol>
            <input type="submit" value="Save" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}