@model IEnumerable<Manage.Models.ViewUser>


<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>

        <table>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    Role
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Address
                </th>
                <th>
                    Username
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Roles.GetRolesForUser(item.username).First().ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.DateOfBirth.ToString(Manage.DatabaseHelper.DateFormat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { item.UserID }) |
                        @Html.ActionLink("Details", "ViewDetail", new { item.UserID }) |
                        @Html.ActionLink("Delete", "Delete", new { item.UserID }, new { onclick = "return confirm('Are you sure you wish to delete this User?');" })
                    </td>
                </tr>
            }

        </table>
