@model Manage.Models.AddSchedule
@{
    ViewBag.Title = "Add Schedule";
}

<ul id="menu">
    <li>@Html.ActionLink("Add Schedule ", "Add")</li>
    <li>@Html.ActionLink("View Schedule ", "ViewSche")</li>
</ul>





@Html.ValidationSummary()

<section class="Schedule">
    @using (Html.BeginForm("Add", "ManageSchedule", new {ID = 1}, FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        <table>
            <tr>
                <td> @Html.EditorFor(m => m.DateSche) </td>

                <td width="10px">

                    @Html.AntiForgeryToken()
                    <input type="submit" value="Add" width="10px" />

                </td>
            </tr>
        </table>
    }
    @using (Html.BeginForm("Add", "ManageSchedule", new { ID = 2 }, FormMethod.Post, new { enctype = "multipart/form-data"  }))
    {
        @Html.AntiForgeryToken()
        <h2>Add Schedule for @Session["date"] </h2> 
        <p class="message-success">@ViewBag.StatusMessage</p>
        <table>
            <tr>
                <td> @Html.DropDownListFor(m => m.FilmID, Manage.DatabaseHelper.listFilm) </td>
            </tr>
            @for (int i = 0; i < @Model.listSchedule.Count; i++)
            {
                <tr>
                    <td> @Html.CheckBoxFor(m => m.listSchedule[i].selected) @Model.listSchedule[i].startTime </td>
                    <td> @Html.DropDownListFor(m => m.listSchedule[i].RoomID, Manage.DatabaseHelper.listRoom)</td>
                    @Html.HiddenFor(m => m.listSchedule[i].startTime)
                </tr>
            }
        </table>
    <input type="submit" @((DateTime)Session["date"] == DateTime.MaxValue) ? "disabled" : "") value="Save" />
    }
</section>
