@model Manage.Models.Schedule

@{
    ViewBag.Title = "View Schedule ";
}

<ul id="menu">
    <li>@Html.ActionLink("Add Schedule ", "Add")</li>
    <li>@Html.ActionLink("View Schedule ", "ViewSche")</li>
</ul>

@Html.ValidationSummary()
<section class="Schedule">
@using (Html.BeginForm("ViewSche", "ManageSchedule", FormMethod.Post, new { enctype = "multipart/form-data"}))
                {
    <table>
        <tr>
            <td> @Html.EditorFor(m => m.DateSche) </td>

            <td width="10px">
                  
                    @Html.AntiForgeryToken()
                    <input type="submit" value="View" width="10" />
            </td>
        </tr>
    </table>
}
 
        @foreach (var item in Model.listScheduleByFilm)
{


        <table>
            <tr>
                <th> @Manage.DatabaseHelper.getRoomNamebyID(item.Key) </th>
            </tr>
            @foreach (var sche in item.Value)
{
    <tr>
        <td> @Html.ActionLink(sche.startTime, "Index", "ManageOrder", new { ScheID=sche.ScheduleID }, new { }) </td>
        <td> @Manage.DatabaseHelper.getFilmNamebyID(sche.FilmID) </td>
    </tr>
}
        </table>
        }
</section>



