@model MovieSelling.Models.FilmHome
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/bundles/myquery")
<script type="text/javascript" src="~/Scripts/jquery-func.js"></script>

@Html.Partial("_subMenuPartial")

<!-- Main -->
<div style="height: 10px">
</div>
<div id="main">
    <!-- Content -->
    <div id="content">
        <!-- Box -->
        <div class="box">
            <div class="head">
                <h2>PHIM HOT</h2>
                <p class="text-right"><a href="#">&nbsp;</a></p>
            </div>

            @for (int i = 0; i < Model.listFilmHot.Count; i++)
            {
                if (i < 5)
                {
                    var item = Model.listFilmHot.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>

                    </div>
                    <!-- end Movie -->
                }
                if (i == 5)
                {
                    var item = Model.listFilmHot.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie last">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>

                    </div>
                    <!-- end Movie -->
                }
            }
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end Box -->

        <!-- Box -->
        <div class="box">
            <div class="head">
                <h2>PHIM ĐANG CHIẾU</h2>
                <p class="text-right"><a href=@Url.Action("OnTheater")>Xem Thêm</a></p>
            </div>

            @for (int i = 0; i < Model.listFilmTheater.Count; i++)
            {
                if (i < 5)
                {
                    var item = Model.listFilmTheater.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>

                    </div>
                    <!-- end Movie -->
                }
                if (i == 5)
                {
                    var item = Model.listFilmTheater.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie last">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>

                    </div>
                    <!-- end Movie -->
                }
            }
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end Box -->

        <!-- Box -->
        <div class="box">
            <div class="head">
                <h2>PHIM SẮP CHIẾU</h2>
                <p class="text-right"><a href=@Url.Action("ComingSoon")>Xem Thêm</a></p>
            </div>

            @for (int i = 0; i < Model.listFilmComing.Count; i++)
            {
                if (i < 5)
                {
                    var item = Model.listFilmComing.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>
                    </div>
                    <!-- end Movie -->
                }
                if (i == 5)
                {
                    var item = Model.listFilmComing.ElementAt(i);
                    <!-- Movie -->
                    <div class="movie last">

                        <div class="movie-image">

                            <a href="@Url.Action("ViewDetail", new { item.FilmID })"><span class="play"><span class="name">@item.Name</span></span><img src="data:image;base64,@System.Convert.ToBase64String(@item.Picture)" alt="movie" /></a>
                        </div>
                    </div>
                    <!-- end Movie -->
                }
            }
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end Box -->
    </div>
    <!-- end Content -->
    </div>
<!-- end Main -->

